# Minecraft server properties
rcon.password={{ item.1.rcon_pass }}
rcon.port={{ mcs_base_port + (loop0 * mcs_reserve_ports) + 1 }}
server-port={{ mcs_base_port + (loop0 * mcs_reserve_ports) }}
white-list={{ "true" if 'whitelist' in item.0 else "false" }}
enforce-whitelist={{ "true" if 'whitelist' in item.0 else "false" }}

{% for k, v in defaults.properties.items() %}
{% if 'properties' in item.0 %}
{% if k in item.0.properties %}
{{ k }}={{ item.0.properties[k] }}
{% else %}
{{ k }}={{ v }}
{% endif %}
{% else %}
{{ k }}={{ v }}
{% endif %}
{% endfor %}
