# Minecraft server properties
rcon.password={{ item.secrets.rcon_pass }}
rcon.port={{ item.port + 1 }}
server-port={{ item.port }}
white-list={{ "true" if 'whitelist' in item else "false" }}
enforce-whitelist={{ "true" if 'whitelist' in item else "false" }}

{% for k, v in defaults.properties.items() %}
{% if 'properties' in item %}
{% if k in item.properties %}
{{ k }}={{ item.properties[k] }}
{% else %}
{{ k }}={{ v }}
{% endif %}
{% else %}
{{ k }}={{ v }}
{% endif %}
{% endfor %}
