[restrictions]
talkRange = {{ instance.0.mods.['localized-chat'].talkRange | default(defaults.['localized-chat'].talkRange) }}
shoutTalkRange = {{ instance.0.mods.['localized-chat'].shoutTalkRange | default(defaults.['localized-chat'].shoutTalkRange) }}
shoutFoodCost = {{ instance.0.mods.['localized-chat'].shoutFoodCost | default(defaults.['localized-chat'].shoutFoodCost) }}
opAsPlayer = {{ instance.0.mods.['localized-chat'].opAsPlayer | default(defaults.['localized-chat'].opAsPlayer) }}
[miscellaneous]
prefix = {{ instance.0.mods.['localized-chat'].prefix | default(defaults.['localized-chat'].prefix) }}
usePrefix = {{ instance.0.mods.['localized-chat'].usePrefix | default(defaults.['localized-chat'].usePrefix) }}
rangeNotifier = {{ instance.0.mods.['localized-chat'].rangeNotifier | default(defaults.['localized-chat'].rangeNotifier) }}
[color_codes]
bracketColor = {{ instance.0.mods.['localized-chat'].bracketColor | default(defaults.['localized-chat'].bracketColor) }}
angleBraceColor = {{ instance.0.mods.['localized-chat'].angleBraceColor | default(defaults.['localized-chat'].angleBraceColor) }}
posColor = {{ instance.0.mods.['localized-chat'].posColor | default(defaults.['localized-chat'].posColor) }}
nameColor = {{ instance.0.mods.['localized-chat'].nameColor | default(defaults.['localized-chat'].nameColor) }}
bodyColor = {{ instance.0.mods.['localized-chat'].bodyColor | default(defaults.['localized-chat'].bodyColor) }}
defaultColor = {{ instance.0.mods.['localized-chat'].defaultColor | default(defaults.['localized-chat'].defaultColor) }}
