# Simple Voice Chat server config v1.20.1-2.4.13

# The port of the voice chat server
# Setting this to "-1" sets the port to the Minecraft servers port (Not recommended)
port={{ mcs_base_port + (loop0 * mcs_reserve_ports) + 2 }}
# The IP address to bind the voice chat server on
# Leave empty to use 'server-ip' of server.properties
# To bind to the wildcard address, use '*'
bind_address=
# The host name that clients should use to connect to the voice chat
# This may also include a port, e.g. 'example.com:24454'
# Don't change this value if you don't know what you are doing
voice_host=

{% for k, v in defaults["simple-voice-chat"].items() %}
{% if 'simple-voice-chat' in item.mods %}
{% if 'properties' in item.mods["simple-voice-chat"] %}
{% if k in item.mods["simple-voice-chat"].properties %}
{{ k }}={{ item.mods["simple-voice-chat"].properties[k] }}
{% else %}
{{ k }}={{ v }}
{% endif %}
{% endif %}
{% else %}
{{ k }}={{ v }}
{% endif %}
{% endfor %}
