instances_secrets:
  - name: "unique-internal-name"
    rcon_pass: "changeme"
    operators:
      - name: raspy_on_osu
        uuid: 773e05b1-44fe-47be-b61d-95de8e691832
        level: 4
        bypassesPlayerLimit: false
    whitelist:
      - name: raspy_on_osu
        uuid: 773e05b1-44fe-47be-b61d-95de8e691832
        
