instances:
  - name: "unique-internal-name"
    minecraft_ver: "1.20.1"
    fabric_ver: "0.14.21"
    fabric_inst_ver: "0.11.2"
    difficulty: "easy"
    is_whitelist: "true" # define whitelist in secret
    gamemode: "survival"
    maxplayers: 20
    motd: "An Ansible-configured Minecraft server"
    pvp: "false"
    simdist: 10
    viewdist: 12
    mods: # list of mods; direct download link from website
      balm: https://www.curseforge.com/api/v1/mods/500525/files/4597439/download
      waystones: https://www.curseforge.com/api/v1/mods/500087/files/4635403/download
      lithium: https://cdn.modrinth.com/data/gvQqBUqZ/versions/ZSNsJrPI/lithium-fabric-mc1.20.1-0.11.2.jar
