instances:
  - name: "unique-internal-name"
    minecraft_ver: "1.20.1"
    ram: 4G

    # Supports both Fabric and Forge (uncomment preferred):
    #
    # fabric: # from https://fabricmc.net/use/installer/
    #   fabric_ver: "0.14.21" #
    #   fabric_inst_ver: "0.11.2"
    #
    # forge: # from https://files.minecraftforge.net/net/minecraftforge/forge/
    #   version: "47.1.0"

    relay_bot:
      channel: discord channel ID
      poll_rate: frequency in seconds
      rcon_users:
        - your discord ID

    properties: # you only need to define what you're overriding; see defaults in group_vars/mc.yml
      difficulty: "easy"
      max-players: 6
      gamemode: "creative"
      motd: "My Creative server"
      pvp: "false"
      view-distance: 16

      # if you're using a whitelist, be sure to override these two to "true":
      white-list: "true"
      enforce-whitelist: "true"

    operators: # list of server operators, their level and bypassesPlayerLimit value
      - uuid: 773e05b1-44fe-47be-b61d-95de8e691832
        level: 4
        bypassesPlayerLimit: false

    mods: # list of mods; direct download link from website
      # use `mode: client` to indicate a mod is client-side only
      sound-physics-remastered: 
        source: https://www.curseforge.com/api/v1/mods/535489/files/4584319/download
        mode: client

      # use `mode: both` to indicate a mod should be on both the clients and the server
      fabric-api:
        source: https://www.curseforge.com/api/v1/mods/306612/files/4622908/download
        mode: both
      balm:
        source: https://www.curseforge.com/api/v1/mods/500525/files/4597439/download
        mode: both
      waystones:
        source: https://www.curseforge.com/api/v1/mods/500087/files/4635403/download
        mode: both
      simple-voice-chat:
        source: https://www.curseforge.com/api/v1/mods/416089/files/4645807/download
        mode: both
        properties: # mods that support customization have it done under "properties"
          spectator_interaction: "true"
          spectator_player_possession: "true"

      # use `mode: server` to indicate a mod should only be on the server
      lithium:
        source: https://cdn.modrinth.com/data/gvQqBUqZ/versions/ZSNsJrPI/lithium-fabric-mc1.20.1-0.11.2.jar
        mode: server

    # if you have a whitelist defined, the server will be whitelisted
    # you can save the list but remove whitelist requirement by commenting the whitelist
    whitelist: # list of whitelisted UUIDs
      - 773e05b1-44fe-47be-b61d-95de8e691832 # raspy_on_osu
