instances:
  - name: "unique-internal-name"
    minecraft_ver: "1.20.1"
    ram: 4G

    # Supports both Fabric and Forge (uncomment preferred):
    #
    # fabric: "0.14.21" # from https://fabricmc.net/use/installer/
    #
    # forge: "47.1.0" # from https://files.minecraftforge.net/net/minecraftforge/forge/

    relay_bot:
      channel: discord channel ID
      poll_rate: frequency in seconds
      rcon_users:
        - your discord ID

    properties: # you only need to define what you're overriding; see defaults in group_vars/all.yml
      difficulty: "easy"
      max-players: 6
      gamemode: "creative"
      motd: "My Creative server"
      pvp: "false"
      view-distance: 16

    operators: # list of server operators, their level and bypassesPlayerLimit value
      - uuid: 773e05b1-44fe-47be-b61d-95de8e691832
        level: 4
        bypassesPlayerLimit: false

    mods: # list of mods from modrinth; use name in URL
      sound-physics-remastered:
      fabric-api:
      balm:
      waystones:
      lithium:

      # fmcs-server will handle serverside and clientside relations

      # mods that support customization have it done under "properties"
      simple-voice-chat:
        properties:
          spectator_interaction: "true"
          spectator_player_possession: "true"

    # if you have a whitelist defined, the server will be whitelisted
    # you can save the list but remove whitelist requirement by commenting the whitelist
    whitelist: # list of whitelisted UUIDs
      - 773e05b1-44fe-47be-b61d-95de8e691832 # raspy_on_osu
