token: {{ instance.secrets.relay_bot_token }}
address: {{ inventory_hostname }}
port: {{ instance.port }}
rcon_pass: {{ instance.secrets.rcon_pass }}
channel: {{ instance.relay_bot.channel }}
atl_manifest: "{{ inventory_hostname }}-{{ instance.name }}-{{ lookup('file', role_path + '/../../mrpacks/' + inventory_hostname + '-' + instance.name + '.hash') }}.mrpack"
is_whitelist: {{ true if 'whitelist' in instance else false }}
relay_messages: {{ instance.relay_bot.relay_messages | default(defaults.relay_bot.relay_messages) }}
relay_deaths: {{ instance.relay_bot.relay_deaths | default(defaults.relay_bot.relay_deaths) }}
relay_advancements: {{ instance.relay_bot.relay_advancements | default(defaults.relay_bot.relay_advancements) }}
relay_connections: {{ instance.relay_bot.relay_connections | default(defaults.relay_bot.relay_connections) }}
relay_dates: {{ instance.relay_bot.relay_connections | default(defaults.relay_bot.relay_connections) }}
poll_rate: {{ instance.relay_bot.poll_rate | default(defaults.relay_bot.poll_rate) }}
has_dynmap: {{ "dynmap" in instance.mods | default(False) }}

rcon_users:
{% for user in instance.relay_bot.rcon_users %}
  - {{ user }}
{% endfor %}
