[Unit]
Description=Minecraft Relay {{ instance.name }}
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/home/fmcs/relay/{{ instance.name }}/fmcs-server-relay
WorkingDirectory=/home/fmcs/relay/{{ instance.name }}
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=default.target
